{% extends 'dashboard.html' %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ request.state.api_version }}/dashboard">{{ home }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ overview }}</li>
    </ol>
</nav>
<h1 class="h2">Dashboard</h1>
<p>{{ home_description }}</p>
<div class="row my-4">
    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card">
            <h5 class="card-header">{{ l_providers }}</h5>
            <div class="card-body">
                <h1 class="card-title">{{ providers }}</h1>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
        <div class="card">
            <h5 class="card-header">{{ l_banks }}</h5>
            <div class="card-body">
                <h1 class="card-title">{{ banks }}</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}